TD {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 200%;
	font-family: "ו";

}
.bgleft {
	BACKGROUND-POSITION: left 50%; FONT-SIZE: 12px; LINE-HEIGHT: 23px; BACKGROUND-REPEAT: repeat-y
}
.bgleft1 {
	BACKGROUND-POSITION: left 50%; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: repeat-y
}
.zi23 {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 23px
}
.left20 {
	PADDING-LEFT: 20px; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 23px
}
.liney {
	FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 23px
}
.zi23b {
	PADDING-LEFT: 5px; FONT-SIZE: 12px; LINE-HEIGHT: 23px
}
.zi18 {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
.zi23a {
	PADDING-LEFT: 5px; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 23px
}
A:link {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff3300
}
A:active {
	FONT-SIZE: 12px; COLOR: #ff3300
}
